body {
    height: 100%;
    background-color: #E0E0E0;
}

.area-panel {
    width: 100%;
    height: 80%;
    font-size: 10pt;
    padding: 2px 7px;
}

.main-icon {
    transition: 0.3s 0.1s;
    -webkit-transition: 0.3s 0.1s;
    -o-transition: 0.3s 0.1s;
}

.main-text:hover {
    transform: rotateY(180deg);
}

.main-icon:hover {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

@viewport {
    width: device-width;
}
